<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="MusicStoreEntityContext" connectionString="metadata=res://*/MusicStoreModel.csdl|res://*/MusicStoreModel.ssdl|res://*/MusicStoreModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\leandroalves\Documents\PESSOAL\ECTH\MusicStore\Presentation\MusicStore.UI.Silverlight.Web\App_Data\MusicStore.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=MusicStore.Data.Test'" providerName="System.Data.EntityClient" />-->
    <add name="MusicStoreEntityContext" connectionString="metadata=res://*/MusicStoreModel.csdl|res://*/MusicStoreModel.ssdl|res://*/MusicStoreModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\Leandro\Documents\Visual Studio 2013\Projects\MusicStore\Presentation\MusicStore.UI.Silverlight.Web\App_Data\MusicStore.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=MusicStore.Data.Test'" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messagelistener"
               type="System.Diagnostics.XmlWriterTraceListener"
                      initializeData="myWCFMessages.xml" ></add>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

  <appSettings>
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <endToEndTracing activityTracing="true" messageFlowTracing="true" propagateActivity="true"/>
      <messageLogging logEntireMessage="true"
                      logMessagesAtServiceLevel="false"
                      logMessagesAtTransportLevel="false"
                      logMalformedMessages="true"
                      maxMessagesToLog="5000"
                      maxSizeOfMessageToLog="2000" >
      </messageLogging>
    </diagnostics>


    <!-- ===============================================================================================  -->
    <!--                                      Configuração de Binding                                     -->
    <!-- ================================================================================================ -->
    <bindings >
      <basicHttpBinding>
        <binding name="MybasicHttpBinding"
                  maxBufferPoolSize="2147483647"
                  maxReceivedMessageSize="2147483647"
                  maxBufferSize="2147483647"
                 receiveTimeout="00:59"
                 sendTimeout="00:59"
                 closeTimeout="00:59">
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!-- ===============================================================================================  -->
    <!--                                    Fim Configuração de Binding                                   -->
    <!-- ================================================================================================ -->


    <!-- ===============================================================================================  -->
    <!--                                      Configuração de Behaviors                                   -->
    <!-- ================================================================================================ -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">

          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- ===============================================================================================  -->
    <!--                                    Fim Configuração de Behaviors                                 -->
    <!-- ================================================================================================ -->

    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" >
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./MusicStoreService.svc" service="MusicStore.Services.MusicStoreService" />
      </serviceActivations>
    </serviceHostingEnvironment>


    <services>
      <service name="MusicStore.Services.MusicStoreService"  behaviorConfiguration="DefaultServiceBehavior" >
        <endpoint name="basicHttpItauShopProxy"
                  address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="MybasicHttpBinding"
                  contract="MusicStore.Services.Contracts.IMusicStoreService" />
        <endpoint address="mex" binding ="basicHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>


  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.web>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>



</configuration>