<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="logErrDirectory" value="${basedir}/logs/error"/>
  <variable name="logProDirectory" value="${basedir}/logs/process"/>

  <targets>
    <!-- add your targets here -->
    <default-target-parameters xsi:type="File" keepFileOpen="false" createDirs="true"/>

    <target xsi:type="File"
            name="fileError"
            fileName="${logErrDirectory}/err-${shortdate}.log"
            layout="${time:universalTime=false} ${message:exceptionSeparator= - :withException=true}"
            />

    <target xsi:type="File"
            name="fileProcess"
            fileName="${logProDirectory}/p-${shortdate}.log"
            layout="${time:universalTime=false} ${message}"
            />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" levels="Error" writeTo="fileError"  />
    <logger name="*" levels="Info" writeTo="fileProcess" />
  </rules>

</nlog>